@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:wght@400;700&display=swap');

/* General */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* Header */

/* Navigation - Header */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 80px;

    width: 100%;
    height: 70px;

    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    background-color: #000000;
    color: #FFFFFF;
}

.nav a {
    color: #FFFFFF; 
}

.left_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 80px;
    margin-right: 205px; 
}

.right_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 80px;
    margin-left: 205px;  
}

/* 
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 80px;

position: absolute;
width: 320px;
height: 70px;
left: 0px;
top: 0px;